<p><%= @profile&.display_name || @user.email.split("@").first %>さん</p>

<p>ココニークのおでかけ後確認です。</p>

<p>対象のおでかけ：<%= @event_start_label %>頃の予定</p>

<p>無事に終了したか、まだ続いているか、困っていることがあるかを以下から回答してください。</p>
<p><a href="<%= @url %>">帰宅確認に回答する</a></p>

<p>※このメールは、帰宅確認機能がオンになっているため送信されています。</p>
