<p>メールアドレス確認のお願い</p>

<p>
  ご登録ありがとうございます。<br>
  以下のリンクからメールアドレスの確認を完了してください。
</p>

<p>
  <a href="<%= @url %>">メールアドレスを確認する</a>
</p>

<p>
  リンクが開けない場合は、以下のURLをブラウザにコピーしてください。
</p>

<p>
  <%= @url %>
</p>

<p>
  このメールに心当たりがない場合は、破棄してください。
</p>