<p>パスワード再設定のご案内</p>

<p>
  以下のリンクからパスワードを再設定してください。
</p>

<p>
  <a href="<%= @url %>">パスワードを再設定する</a>
</p>

<p>
  リンクが開けない場合は、以下のURLをブラウザにコピーしてください。
</p>

<p>
  <%= @url %>
</p>

<p>
  このメールに心当たりがない場合は、破棄してください。
</p>